{% extends 'client/base_admin.html' %}

{% block content %}
<div class="container mb-5">
  <div class="row justify-content-center mt-5">
    <div class="col-md-8 col-sm-12 offset-md-1 p-4 text-center">
      <h1>Administracion Sandwich Web</h1>
    </div>
  </div>
  <div class="row justify-content-center mt-1">
    <div class="card col-md-5 col-sm-12 offset-md-1 p-4 text-center"> 
      <h2>Listado de Ordenes</h2>
      <a href="{% url 'order_list' %}" class="btn btn-outline-primary">Buscar</a>
    </div>
  </div>
</div>
{% endblock content %}