{% extends 'client/admin.html' %}
{% block content %}
<div class="table-responsive">
    <table class="table table-bordered">
        <thead class="thead-light">
        <tr>
        <th>Fecha</th>
        <th>Cliente</th>
        <th>Total</th>
        </tr>
    </thead>
    <tbody>
        {% for order in orders %}
        <tr>
        <td>{{ order.created_on }}</td>
        <td>{{ order.client_name }}</td>
        <td>{{ order.total}}</td>
        </tr>
    </tbody>
    {% endfor %}
        </table>
</div>
{% endblock content %}